[submodule "lib/dojo/dijit"]
  path = lib/dojo/dijit
  url = git@github.com:sammysf/WeatherWidget.git
[submodule "lib/dojo/dojo"]
  path = lib/dojo/dojo
  url = git@github.com:sammysf/WeatherWidget.git
