[submodule "lib/dojo/dijit"]
  path = lib/dojo/dijit
  url = git@github.com:sammysf/WeatherWidget/tree/master/lib/dojo/dijit
[submodule "lib/dojo/dojo"]
  path = lib/dojo/dojo
  url = git@github.com:sammysf/WeatherWidget/tree/master/lib/dojo/dojo
[submodule "lib/dojo/dojox"]
  path = lib/dojo/dojox
  url = git@github.com:sammysf/WeatherWidget/tree/master/lib/dojo/dojox
[submodule "lib/dojo/util"]
  path = lib/dojo/util
  url = git@github.com:sammysf/WeatherWidget/tree/master/lib/dojo/util
[submodule "lib/lodash"]
  path = lib/lodash
  url = git@github.com:sammysf/WeatherWidget/tree/master/lib/lodash
